@charset "UTF-8";

body {
	background-image: url(http://p1.pichost.me/i/11/1344899.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -89px;
	text-align: center;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 0.4px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 0.5px;
	padding: 2px 2px;
}

a.button {
	color: white;
	box-shadow: white 0 0px 0px 2px;
}

a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: pink 0 0px 0px 40px inset;
}

a.button2 {
	color: pink;
	box-shadow: pink 0 0px 0px 2px;
}

a.button2:hover {
	color: whte;
	box-shadow: white 0 80px 0px 2px inset;
}
