<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>NOONCHIGAME</title>
		<link rel="shortcut icon" href="/home/ec2-user/venv/project/FourBoxes/static/img/noon2.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<!-- <div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/InlineAnchorStyles/"><span>Previous Demo</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19242"><span>Back to the Codrops Article</span></a></span>
			</div> -->
			<div id="boxgallery" class="boxgallery" data-effect="effect-1">
				<div class="panel"><img src="../static/img/land.jpg" alt="Image 2"/>
				<header class="codrops-header">
				<h1>서울대공원</h1>
				<nav class="codrops-demos">
					<a href="/predict_seoul">이번주 혼잡도</a>
					<a href="/preview_seoul">신뢰도 확인</a>
					<a href="/map_seoul">서울대공원&주변</a>
					<a href="/notice_seoul">서울대공원 행사</a>
				</nav>
			</header></div>

			<div class="panel"><img src="../static/img/castle.jpeg" alt="Image 1"/>
                                <header class="codrops-header">
                                <h1>경복궁 </h1>
                                <nav class="codrops-demos">
                                        <a href="/predict_castle">이번주 혼잡도</a>
                                        <a href="/preview_castle">신뢰도 확인</a>
                                        <a href="/map_castle">경복궁&주변</a>
					<a href="/notice_castle">경복궁 행사</a>
                                </nav>
                        </header>
                                </div>
                                <div class="panel"><img src="../static/img/land.jpg" alt="Image 2"/>
                                <header class="codrops-header">
                                <h1>서울대공원</h1>
                                <nav class="codrops-demos">
                                        <a href="/predict_seoul">이번주 혼잡도</a>
                                        <a href="/preview_seoul">신뢰도 확인</a>
                                        <a href="/map_seoul">서울대공원&주변</a>
					<a href="/notice_seoul">서울대공원 행사</a>
                                </nav>
                        </header></div>
			 <div class="panel"><img src="../static/img/castle.jpeg" alt="Image 1"/>
                                <header class="codrops-header">
                                <h1>경복궁 </h1>
                                <nav class="codrops-demos">
                                        <a href="/predict_castle">이번주 혼잡도</a>
                                        <a href="/preview_castle">신뢰도 확인</a>
                                        <a href="/map_castle">경복궁&주변</a>
                                        <a href="/notice_castle">경복궁 행사</a>
                                </nav>
                        </header>
                                </div>



			</div>
			
		</div><!-- /container -->
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/boxesFx.js"></script>
		<script>new BoxesFx( document.getElementById( 'boxgallery' ) );</script>
	</body>
</html>
