<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>info_castle_2</title>
		<link rel="shortcut icon" href="/home/ec2-user/venv/project/FourBoxes/static/img/noon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/map.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<!-- Top Navigation -->
			<div class="navbar">
				<a href="index">NOONCHIGAME</a>
				<a href="preview_castle">과거 관람객</a>
				<a href="predict_castle">이번주 관람객</a>
				<a href="map_castle">경복궁&주변</a>
				<div class="dropdown">
    				<button class="dropbtn" onclick="myFunction()">경복궁 행사 
      					<i class="fa fa-caret-down"></i>
    				</button>
    				<div class="dropdown-content" id="myDropdown">
				      <a href="info_castle_1">수라간 시식 공감</a>
				      <a href="info_castle_2">주●야간 전통공연</a>
				      <a href="info_castle_3">수문장 교대의식</a>
				      <a href="notice_castle">공지사항</a>
				    </div>
				  </div>
				
				</div>
			
				<div class="panel"><img src="../static/img/castle.jpeg" alt="Image 1" style="opacity:0.1" width=100% height=100%/>
					
				</div>
				
		<header class="left_2" style="top:420px">
					<tr><td><h1 style="font:32px; color:#FFB2B9;top-margin:50px">주●야간 전통공연</h1></td></tr>
					<table style="width:1000px"><tr>
						<td style="padding:10px;font-weight: 300;font-size: 18px;">
							<ol class="gbg_photoEx">
							<li>&nbsp;&nbsp; 2019년 경복궁 주.야간 전통공연「고궁음악회」프로그램 안내
							                                        <ol>
							<li>) 행사명
							                             <ul>
							<li> 주간 : 경복궁 영추문 대동놀이</li>
							<li> 야간 : 궁에서 만나는 우리 춤, 우리 음악</li>
							</ul>
							</li>
							<li>) 행사장소
							                                                        <ul>
							<li> 주간 : 경복궁 수정전-영추문</li>
							<li> 야간 : 경복궁 수정전 앞 월대</li>
							</ul>
							</li>
							<li>) 행사내용
							                                                        <ul>
							<li> 주간 : 대취타 정악, 풍물연희, 강강술래, 아리랑</li>
							<li> 야간 : 전통무용, 판소리, 정가, 국악실내악</li>
							</ul>
							</li>
							<li>) 행사기간
							                                                        <ul>
							<li> 주간(48회)</li>
							<li>- 1차(9회) : 2019. 04. 27. ~ 05.05. / 궁중문화축전 기간</li>
							<li>- 2차(15회) : 2019. 05. 10. ~ 06. 09. / 매주 금, 토, 일요일 </li>
							<li>- 3차(24회) : 2019. 09. 06. ~ 10. 27. / 매주 금, 토, 일요일</li>
							<li>ㅇ 야간(36회)   ※ 휴궁일(화요일) 행사 없음</li>
							<li>- 1차(12회) : 2019. 05. 19. ~ 06. 01. / 2019년 05월 경복궁 야간 특별관람 기간 중</li>
							<li>- 2차(12회) : 2019. 07. 21. ~ 08. 03. / 2019년 07월 경복궁 야간 특별관람 기간 중</li>
							<li>- 3차(12회) : 2019. 09. 22. ~ 10. 05. / 2019년 09월 경복궁 야간 특별관람 기간 중</li>
							</ul>
							</li>
							<li>) 행사시간
							                                                        <ul>
							<li>ㅇ 주간 : 16:00 ~ 16:40 (40분)</li>
							<li>ㅇ 야간 : 20:00 ~ 20:50 (50분)</li>
							</ul>
							</li>
							<li>※ 공연 일정 및 장소는 상황에 따라 변동될 수 있음</li>
							</ol>
							</li>
							<li>&nbsp;&nbsp; 문의 : 한국문화재재단 한국의 집 예술단(☎ 02-2270-1135)<a href="http://www.chf.or.kr/c1/sub2_6.jsp" style="padding:5px; background-color:#ffc000;font-size:11px; margin-left:5px" target="_blank">한국문화재재단 바로가기</a></li>
							</ol>
						</td>
					</tr></table>
					</header>
		</div><!-- /container -->
		<script>
			function myFunction(){
				document.getElementById("myDropdown").classList.toggle("show")
			}
			window.onclick=function(e){
				if(!e.target.matches('.dropbtn')){
					var myDropdown=document.getElementById("myDropdown");
						if(myDropdown.classList.contains('show')){
							myDropdown.classList.remove('show');
						}
				}
			}
		</script>
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/boxesFx.js"></script>
		<script src="js/bootstrap.js"></script>
		<script>new BoxesFx( document.getElementById( 'boxgallery' ) );</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>


