<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Notice_castle</title>
		<link rel="shortcut icon" href="/home/ec2-user/venv/project/FourBoxes/static/img/noon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />		
		<link rel="stylesheet" type="text/css" href="../static/css/map.css" />				
		<link rel="stylesheet" type="text/css" href="../static/css/table.css" />				
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div>
			<!-- Top Navigation -->
			<div class="navbar">
				<a href="index">NOONCHIGAME</a>
				<a href="preview_castle">과거 관람객</a>
				<a href="predict_castle">이번주 관람객</a>
				<a href="map_castle">경복궁&주변</a>
				<div class="dropdown">
    				<button class="dropbtn" onclick="myFunction()">경복궁 행사 
      					<i class="fa fa-caret-down"></i>
    				</button>
    				<div class="dropdown-content" id="myDropdown">
				      <a href="info_castle_1">수라간 시식 공감</a>
				      <a href="info_castle_2">주●야간 전통공연</a>
				      <a href="info_castle_3">수문장 교대의식</a>
				      <a href="notice_castle">공지사항</a>
				    </div>
			    </div>
				
			</div>
				<div class="panel"><img src="../static/img/castle.jpeg" alt="Image 1" style="opacity:0.1" width=100% height=100%/>
				<header class="left_4" style="top:500px">
					<div class="Board">
</div>
<td><h1 style="font:32px; color:#FFB2B9;">경복궁 공지사항</h1><br><br></td>
<table  class="Board_01 tbl_notice"  width="800px">
<thead>
<tr>
<th scope="col">제목<hr></th>
<th class="m_dateSize" scope="col" width="15%">&nbsp;&nbsp;&nbsp;&nbsp;등록일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<hr></th>
</tr>
</thead>
<tbody>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-1]}}>{{Title[Length-1]}}</a></td>
<td class="m_dateSize">{{Day[Length-1]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-2]}}>{{Title[Length-2]}}</a></td>
<td class="m_dateSize">{{Day[Length-2]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-3]}}>{{Title[Length-3]}}</a></td>
<td class="m_dateSize">{{Day[Length-3]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-4]}}>{{Title[Length-4]}}</a></td>
<td class="m_dateSize">{{Day[Length-4]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-5]}}>{{Title[Length-5]}}</a></td>
<td class="m_dateSize">{{Day[Length-5]}}<br><br></td>
<td>
</td>	
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-6]}}>{{Title[Length-6]}}</a></td>
<td class="m_dateSize">{{Day[Length-6]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-7]}}>{{Title[Length-7]}}</a></td>
<td class="m_dateSize">{{Day[Length-7]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-8]}}>{{Title[Length-8]}}</a></td>
<td class="m_dateSize">{{Day[Length-8]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-9]}}>{{Title[Length-9]}}</a></td>
<td class="m_dateSize">{{Day[Length-9]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-10]}}>{{Title[Length-10]}}</a></td>
<td class="m_dateSize">{{Day[Length-10]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-11]}}>{{Title[Length-11]}}</a></td>
<td class="m_dateSize">{{Day[Length-11]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-12]}}>{{Title[Length-12]}}</a></td>
<td class="m_dateSize">{{Day[Length-12]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-13]}}>{{Title[Length-13]}}</a></td>
<td class="m_dateSize">{{Day[Length-13]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-14]}}>{{Title[Length-14]}}</a></td>
<td class="m_dateSize">{{Day[Length-14]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-15]}}>{{Title[Length-15]}}</a></td>
<td class="m_dateSize">{{Day[Length-15]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-16]}}>{{Title[Length-16]}}</a></td>
<td class="m_dateSize">{{Day[Length-16]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-17]}}>{{Title[Length-17]}}</a></td>
<td class="m_dateSize">{{Day[Length-17]}}<br><br></td>
<td>
</td>
</tr>
<tr>
<td class="Board_Tit"><a class="g_link" href={{Href[Length-18]}}>{{Title[Length-18]}}</a></td>
<td class="m_dateSize">{{Day[Length-18]}}<br><br></td>
<td>
</td>
</tr>
</tbody>
</table>
					</header>
				</div>
				
		</div><!-- /container -->
		<script>
			function myFunction(){
				document.getElementById("myDropdown").classList.toggle("show")
			}
			window.onclick=function(e){
				if(!e.target.matches('.dropbtn')){
					var myDropdown=document.getElementById("myDropdown");
						if(myDropdown.classList.contains('show')){
							myDropdown.classList.remove('show');
						}
				}
			}
		</script>
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/boxesFx.js"></script>
		<script src="js/bootstrap.js"></script>
		<script>new BoxesFx( document.getElementById( 'boxgallery' ) );</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>

</html>

