<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Predict_Seoul</title>
		<link rel="shortcut icon" href="/home/ec2-user/venv/project/FourBoxes/static/img/noon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/calendar.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/map.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/predict.css" />
		<script src="../static/js/modernizr.custom.js"></script>


		<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawVisualization);
	
		function drawVisualization() { 
			
			
			var data = google.visualization.arrayToDataTable([
					['day', 'people expected'],
					['{{data.month[0]}}/{{data.day[0]}}',  {{data.predict[0]}}],
					['{{data.month[1]}}/{{data.day[1]}}',  {{data.predict[1]}}],
					['{{data.month[2]}}/{{data.day[2]}}',  {{data.predict[2]}}],
					['{{data.month[3]}}/{{data.day[3]}}',  {{data.predict[3]}}],
					['{{data.month[4]}}/{{data.day[4]}}',  {{data.predict[4]}}],
					['{{data.month[5]}}/{{data.day[5]}}',  {{data.predict[5]}}],
					['{{data.month[6]}}/{{data.day[6]}}',  {{data.predict[6]}}],
					['{{data.month[7]}}/{{data.day[7]}}',  {{data.predict[7]}}],
					['{{data.month[8]}}/{{data.day[8]}}',  {{data.predict[8]}}],
					['{{data.month[9]}}/{{data.day[9]}}',  {{data.predict[9]}}]
				]);
			

var options = {
					vAxis: {title: 'visitor',
						gridlines:{
							color : 'transparent'
						}},
				
					legend:'none',
					colors: [{color: '#4682B4'}],
					backgroundColor:{fill:'transparent'},
					areaOpacity:0.8,
					pointSize:10,
					
				};
			




			var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
	</script>





	</head>
	<style type = "text/css">
    td{border-spacing: 0px; border-style: none; padding: 0px; width:200px;}
	table{
		width: 100%;
		height:100%
	}
    </style>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="navbar">
			<a href="/index4">NOONCHIGAME</a>
			<a href="/preview_seoul">과거 관람객</a>
            		<a href="/predict_seoul">이번주 관람객</a>
            		<a href="/map_seoul">서울대공원&주변</a>
            		<div class="dropdown">
                	<button class="dropbtn" onclick="myFunction()">서울대공원 행사 
                     		<i class="fa fa-caret-down"></i>
                	</button>
                	<div class="dropdown-content" id="myDropdown">
                  		<a href="/info_seoul_1">티켓 할인</a>
                 		<a href="/notice_seoul">공지사항</a>			
				    </div>
				  </div>
				
				</div>
			
				<div class="panel"><img src="../static/img/land.jpg" alt="Image 1" style="opacity:0.1" width=100% height=200%/>
				<header  class = "left" style="top:700px" align="center">
                        <div align="center" style="width:100%; text_align:center">
<h1 style="font:32px;">서울대공원 이번주 관람객</h1>
<br>
 	<div style = "overflow-x:scroll; overflow-y:hidden;  margin:auto; width:100%; height:500px">
    <table>
      <tr>
      {% for i in range(10) %}
        <td class = "entry{{i+1}}" id="a">
        <div class="wrap">
        		<div style="lin-height:170%; font-size : x-large;color:black; text-align:center"> 
      				<br>
      				{%if (data.week[i] == 'SUN') %}
        			<strong style="font-size : 30px; color:red">
      
        			{{data.week[i]}}</strong>
        			{% elif (data.week[i] == 'SAT')%}
      				<strong style="font-size : 30px; color:blue;">
      
        			{{data.week[i]}}</strong>
        			{% else %}
      				<strong style="font-size : 30px;">
      
        			{{data.week[i]}}</strong>
      
        			{% endif %}			
      	  			<br>
      	  			{%if (data.holiday[i]!=0)%}
      	  			
      	  			{{data.month[i]}}/<span style="color:red;">{{data.day[i]}}</span>
      	  			
      	  			{%else%}
      	  			
        			{{data.month[i]}}/{{data.day[i]}}
      	  			
      	  			{% endif %} 
      	  			<br>
      	  			<br>
      	  			 </div>
			    <div style="width:100%; height:20%; text-align:center;">
			    
        		<img src="../static/img/weather/{{data.weather_img[i]}}" style="width:60%;height:auto;"></div>
        
        	
        	<div style="height:30%; width:100%; font-size:medium; text-align:center;">
        		<p style="color:black; font-weight:bold;">
        		
        		최고 기온 <span style="color:#ac2715">{{data.tem_min[i]}}&#186;C</span>
        		<br>
        		최저 기온 <span style="color:#2c2c90">{{data.tem_max[i]}}&#186;C</span>
        		<br>
        		<br>
        		강수확률
        		<br>
        		오전 {{data.rain_noon[i]}} % / 오후 {{data.rain_even[i]}} %
        		</p>
        	</div >
        	<div style="height:30%; width:100%;text-align:center;">
        		
        		
        		<span style="color:black; font-weight:bold; font-size : 25px;"> 
        		{{data.predict[i]}}명
			<br>
        		</span>
        		
                                {%if (data.predict[i] >= 25001) %}

                                <span style="color:black; font-weight:bold; font-size : 25px;">                              매우혼잡
                                </span>

                                {%elif (25000>=data.predict[i] >= 15001) %}
                        <span style="color:black; font-weight:bold; font-size : 25px;">
                                혼잡
                                </span>
                                {% elif (15000>=data.predict[i] >= 8001)  %}
                                <span style="color:black; font-weight:bold; font-size : 25px;">
                                보통
                                </span>

                                {% else %}
                                <span style="color:black; font-weight:bold; font-size : 25px;">
                                여유
                                </span>


                                {% endif %}

        		
        	</div>
        </div>
        </td>
         {% endfor %} 
      </tr>
    </table>
    </div>

<div style="width:900px; height:15px; ">
		<p>여유: 0명~8000명  보통: 8001명~15000명 혼잡: 15001명~25000명  매우혼잡: 25001명~
<br/>
<br/>
<br/><br/></p>
</div>    
     <h1 style="font:32px;  margin;100px;">서울대공원  관람객 수 분포 </h1>
                                <br>

    <div class="graph" id="chart_div" style="width:100%; height:600px; top:900px  margin:auto">
		</div>    
    <div style="width:900px; height:10px;">
		</div>  

			</div>
			</header>
				</div>
		</div><!-- /container -->
	
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/calendar.js"></script>

		ㅑ
		<script>
			new BoxesFx( document.getElementById( 'boxgallery' ) );
		</script>
		
		
	</body>
</html>
